modules = ["nodejs-20", "postgresql-16", "python-3.11"]
[agent]
expertMode = true
integrations = ["javascript_gemini:1.0.0", "twilio_send_message:1.0.0", "javascript_sendgrid:1.0.0", "replitmail:1.0.0", "javascript_log_in_with_replit:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["jq", "unzip", "libuuid"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Full-Stack App"

[[workflows.workflow]]
name = "Full-Stack App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd TailwindAdminRasa && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32807
externalPort = 3003

[[ports]]
localPort = 33427
externalPort = 3002

[[ports]]
localPort = 33845
externalPort = 5173

[[ports]]
localPort = 36999
externalPort = 8000

[[ports]]
localPort = 37007
externalPort = 3001

[[ports]]
localPort = 37851
externalPort = 8008

[[ports]]
localPort = 38571
externalPort = 8080

[[ports]]
localPort = 40167
externalPort = 4200

[[ports]]
localPort = 41675
externalPort = 3000

[[ports]]
localPort = 44103
externalPort = 6800

[[ports]]
localPort = 46007
externalPort = 6000

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]
